@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline:1px solid red; */
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #fff;
}

body {
    min-height: 100vh;
   
}
a{
    text-decoration: none;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #030129;
background: linear-gradient(90deg, rgba(3, 1, 41, 1) 0%, rgba(8, 8, 56, 1) 49%, rgba(2, 5, 28, 1) 100%);
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
 
  width: min(100vw, 400px);
  background-color: #e9e9eb;
  color:#333333;
}


.main-container{
    width: 100%;
    /* max-width: 420px; */
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
   
}
.title{
    margin-bottom: .5rem;
    text-align: center;
}
ul{
    list-style: none;
  
}
nav{
    width: 100%;
    position: sticky;
    background-color: #e9e9eb;
    top: 0;
}
nav .nav-links{
    display: flex;
    align-items: center;
    gap:.5rem;
}
nav .logo{
    display: block;
    height: 30px;
    width: auto;
}
nav .nav-links li:first-child{
    margin-inline-end: auto;
    padding-inline-start: .25rem;
}
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .25rem;
    background-color: #ffffff;
    padding: .25rem;
}
.product-card{
    
     background-color: #e9e9eb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
                             
}
.product-card figure{
    height: 200px;
    width: 100%;
    background-color: #ffffff;
    display:block
}
.product-card figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.product-card .product-data,
.product-info{
   
    padding: .25rem;
}